
body {
    background-color: #e7eeed;
    overflow-X: hidden;
}

.body {
    overflow: hidden;
}

.card-body {
    background-color: #e7eeed;
}

#titlebox, #introbox, #projects, #photos {
    position: relative;
}

#titlebox:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #f86449;
    width: 200rem;
    height: 200rem;
    top: -50rem;
    left: -30rem;
    z-index: -5;
}

.tilt-intro {
    position: absolute;
    background-color: #f8bc49 ;
    width: 200rem;
    height: 140rem;
    top: 100rem;
    left: -30rem;
    z-index: -4;
}

.tilt-projects {
    position: absolute;
    background-color: #ddf849 ;
    width: 200rem;
    height: 140rem;
    top: 100rem;
    left: -30rem;
    z-index: -3;
}

.tilt-photos {
    position: absolute;
    background-color: #86F849;
    width: 200rem;
    height: 140rem;
    top: 100rem;
    left: -30rem;
    z-index: -2;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-position: under;
}

.fast-text-project, .fast-text-intro, .fast-text-photo {
    opacity: 0;
}

.up-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 5rem;
    margin-bottom: 5rem;
    box-shadow: 5px 5px 2px black;
}

.helvetica {
    font-family: "Helvetica", "Arial", sans-serif;
}

.helvetica-xl {
    font-size: 8rem;
}

.helvetica-lg {
    font-size: 5rem;
}

.helvetica-md {
    font-size: 3rem;
}

.helvetica-sm {
    font-size: 2rem;
}

.helvetica-xs {
    font-size: 1rem;
}